* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-width: 400px;
}
button,
input,
textarea {
  background: transparent;
  border: none;
  outline: none !important;
}
ul{
  list-style: none;
  padding: 0;
}
.menu-overlay {
  width: 100%;
  height: 100%;
  display: none;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: 10;
  transition: all 0.4s;
  opacity: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.card-title {
  font-size: 26px;

  color: #4664e6;

  font-weight: bold;
}
.grey-border {
  border: 1px solid #b5b5b5;
  border-radius: 5px;
}

.text-72 {
  font-size: 72px;
  color: #000000;
  line-height: 1.3;
}
.text-40_2,
.text-40 {
  font-size: 40px;
  color: #000000;
  line-height: 1.3;
}
.text-30 {
  font-size: 30px;
  color: #000000;
  line-height: 1.3;
}
.text-26 {
  font-size: 26px;
  color: #000000;
  line-height: 1.3;
}
.text-20 {
  font-size: 20px;
  color: #000000;
  line-height: 1.3;
}
.text-16 {
  font-size: 16px;
  color: #000000;
  line-height: 1.3;
}
.text-10 {
  font-size: 10px;
  color: #000000;
  line-height: 1.3;
}
.text-blue {
  color: #4664e6 !important;
}
.text-red{
  color: red;
}
.text-white {
  color: #ffffff;
}
.text-green {
  color: #42c497;
}
.text-yellow {
  color: #fdc246;
}
.blue-btn {
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #4664e6;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border: 0;
  outline: none !important;
}
.grey-btn {
  background-color: rgb(181, 181, 181);
}
.blue-btn.size-lg {
  height: 68px;

  padding: 0 60px;

  border-radius: 15px;

  font-size: 25px;
}
.report-links li a i{
  width: 40px;
}
.active-state {
  width: fit-content;
  color: #42c497;
  background: #d0f0e5;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
}
.circle-icon {
  min-width: 14px;
  min-height: 14px;
  max-width: 14px;
  max-height: 14px;
  border-radius: 50%;
  display: inline-block;
}
.bg-blue {
  background: #4664e6;
}
.bg-yellow {
  background: #fdc246;
}
.h-200 {
  /* height: 200px; */
  width: auto;
  max-height: 200px;
  min-height: 175px;
}
.img img {
  max-width: 100%;
}
.sm-imgs {
}
.blue-box {
  width: 44px;
  height: 44px;
  background: transparent;
  border: 2px solid #4664e6;
  border-radius: 5px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #f4f4f4;
}

/* Thumb: webkit */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 2px solid #97d3fd;
  background-size: cover;
  border-radius: 50%;
  transition: 0.2s ease-in-out;

  width: 14px;
  height: 14px;
}
.sm-logo{
  max-width: 300px;
  width: 100%;
}
.show-more {
}
/* Thumb: Firefox */
.slider::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 2px solid #97d3fd;
  background-size: cover;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.slider::-moz-range-thumb:hover {
  box-shadow: 0 0 0 5px rgba(151, 211, 253, 0.1);
}
.slider:active::-moz-range-thumb {
  box-shadow: 0 0 0 5px rgba(151, 211, 253, 0.2);
}
.slider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 5px rgba(151, 211, 253, 0.2);
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 5px rgba(151, 211, 253, 0.1);
}
.slider:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 5px rgba(151, 211, 253, 0.2);
}
.slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 5px rgba(151, 211, 253, 0.2);
}

/* input fields */
.form-input {
  width: 100%;
  font-size: 20px;
  color: #000000;
  height: 54px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #b5b5b5;
  padding: 0 20px;
  /* max-width: 345px; */
}

.form-input::placeholder,
.form-input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #b5b5b5;
}
textarea.form-input {
  height: 100px;
}
.form-checkbox {
  display: block;
}

.form-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  display: none;
  cursor: pointer;
}

.form-checkbox label {
  position: relative;
  cursor: pointer;
}

.form-checkbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #4664e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
}

.form-checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 14px;
  border: solid #4664e6;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-payment-radio + div.grey-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  display: block;
  z-index: -1;
  border-radius: 5px;
}
.form-payment-radio + div.grey-border .corner-check {
  z-index: -2;
}
.form-payment-radio:checked + div.grey-border::before {
  border-color: #4664e6;
}
label {
  cursor: pointer;
  width: fit-content;
}
label button {
  z-index: -1;
  position: relative;
}
.card-input + label {
  border: 2px solid transparent;
  border-radius: 7px;
}
.card-input:checked + label {
  border-color: #4664e6;
}
.show-more-inp + .show-more-div {
  display: none;
}
.show-more-inp:checked + .show-more-div {
  display: block;
}
.show-more-inp:checked + .show-more-div + label button {
  transform: rotate(180deg);
}
.bullet-point > span {
  min-width: 40px;
  max-width: 40px;
  width: 40px;
}
/* multistep form */
.multistep-form .single-step {
  display: none;
}
.multistep-form .single-step .grey-border {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.multistep-form .single-step.active {
  display: block;
}

.backgroundimage::before {
  position: absolute;
  z-index: -1;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 543px;
  height: 368px;
  background: url(../img/footer-pattern-2.png) no-repeat;
}

.backgroundimage::after {
  position: absolute;
  z-index: -1;
  content: "";
  right: 0px;
  top: 0px;
  width: 505px;
  height: 334px;
  background: url(../img/footer-pattern-1.png) no-repeat;
}

:root {
  --width: 400px;
  --height: 100px;
  --top-color: #f44336;
  --bottom-color: #2196f3;
  --vertical-angle: 108.5deg;
  --horizontal-angle: 18.5deg;
}

.separator {
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}

.separator::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--top-color);
  transform: skewY(calc(-1 * var(--horizontal-angle)));
  transform-origin: bottom left;
}

.separator::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bottom-color);
  transform: skewY(calc(-1 * var(--horizontal-angle)));
  transform-origin: bottom left;
}

.vertical .separator::before,
.vertical .separator::after {
  transform: skewY(var(--vertical-angle));
}

.separator.reverse {
  transform: rotateY(180deg);
}

.vertical .separator.reverse {
  transform: rotateX(180deg);
}

/* navbar */
nav {
  border: 1px solid #ffffff;
  box-shadow: 0 51px 50px 0 rgba(0, 0, 0, 0.2);
  z-index: 1111111;
  position: relative;
}
nav .top-nav > div {
}
nav .top-nav {
  position: relative;
  height: 122px;
  padding-left: 25%;
  background: linear-gradient(45deg, white 25%, black 25%, black 100%);
  display: flex;
  align-items: center;
}
.nav-contact-links {
  list-style: none;
  padding-left: 100px;
  display: flex;
  gap: 50px;
  margin: 0;
}
.nav-contact-links li {
  display: inline-block;
}

.nav-contact-links li a i {
  margin-right: 10px;
  width: 32px;
}
nav .top-nav .logo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 357px;
}
nav .bottom-nav > div {
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .bottom-nav .dropdown-menu {
  width: 240px;
}
.faq-list .question button{position: relative;padding: 10px 20px 10px 50px !important;width: 100%;text-align: left;cursor: pointer;}
.faq-list .question button::before{
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  background: red;
}
.faq-list .answer{
  
}
/* footer */
footer .logo {
  width: 300px;
}
.contact-links,
.footer-links {
  padding: 0;
}
.contact-links li,
.footer-links li {
  list-style: none;
  transition: transform 0.4s ease-in;
}
.contact-links li a,
.footer-links li a {
  position: relative;
  color: #afd3f3 !important;
}
.footer-links li a {
  padding-left: 15px;
}
.footer-links li:hover {
  color: #ffffff;
  transform: translateX(8px);
  text-decoration: underline;
}
.contact-links li a:hover {
  text-decoration: none;
}
.footer-links li:hover a {
  color: #ffffff;
}
.footer-links li a::before {
  position: absolute;
  content: "\f105";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "FontAwesome";
  font-size: 11px;
}

.bottom-footer {
  background-color: #020f2f;
}
.bottom-footer > div {
  min-height: 118px;
}
.bottom-footer p a,
.bottom-footer p {
  color: #afd3f3;
}

/* left sidebar */

.left-pane {
  width: 25%;
  flex: 25%;
  background-color: #4664e6;
}
.right-pane {
  width: 75%;
  flex: 75%;
}
.sidebar-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 50px;
}
.sidebar-links li {
  display: block;
  height: 82px;
}
.sidebar-links li a {
  color: #ffffff;
  border-radius: 20px 0 0 20px;
  text-decoration: none;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}
.sidebar-links li a i {
  margin-right: 20px;
  width: 50px;
}
.sidebar-links li a:hover,
.sidebar-links li a.active {
  color: #4664e6;
  background-color: #ffffff;
}
.sidebar-toggler {
  display: none;
}
.sidebar-toggler {
  background: transparent;
  border: 0;
  outline: none !important;
  cursor: pointer;
}
.sidebar-toggler i {
  color: #4664e6;
  font-size: 24px;
}

@media screen and (max-width: 1400px) {
  .menu-open .menu-overlay {
    display: block;
  }
  .menu-open {
    overflow: hidden;
  }
  .sidebar-toggler {
    display: block;
  }
  .right-pane {
    padding-left: 30px !important;
  }
  .top-nav,
  .bottom-nav {
    display: none !important;
  }
  nav {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    position: relative;
    background: #ffffff;
  }
  .left-pane {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100vh;
    z-index: 1;
    display: block;
    transform: translateX(120%);
    transition: all 0.4s !important;
    z-index: 11;
  }

  .left-pane.show {
    transform: translateX(0);
  }
  .left-pane.collapsing {
    height: 100vh !important;
  }
  .sidebar-profile {
    width: max-content;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1400px) {
  .sidebar {
    display: block !important;
  }
  nav > .logo {
    display: none;
  }
  .sidebar-profile {
    display: none;
  }
}

/* right side */
.right-pane {
  padding-left: 120px;
  padding-right: 30px;
  padding-top: 120px;
  padding-bottom: 60px;
}

/* balance card */
.balance-card {
  padding: 0;
  border: 20px solid #b5b5b5;
  border-radius: 30px;
  /* width: calc(100% + 40px); */
  /* position: absolute; */
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.balance-card .top {
  padding: 30px 35px 20px 50px;
  background: #4664e6;
  border-radius: 30px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}
.balance-card .top .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* payment card */

.corner-check {
  width: 62px;
  height: 62px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(45deg, transparent 50%, #b5b5b5 50%);
}
.blue-round-check {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  background: #4664e6;
  display: flex;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  align-items: center;
  justify-content: center;
}
.blue-round-check i {
  color: #ffffff;

  font-size: 135%;
}

.circle {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-wrap {
  margin: 25px auto;
  width: 240px;
  height: 240px;
  background: #fdc246;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip-path: rect(0px 100% 100% 50%);
}

.circle-wrap .circle .mask .fill {
  clip-path: rect(0px 50% 100% 0px);
  background-color: #4664e6;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(45deg); /*updatepercentage*/
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg); /*updatepercentage*/
  }
}

.circle-wrap .inside-circle {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.curve {
  display: none;
  width: 151px;
  height: 151px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
  /* background: red; */
  /* z-index: 1111; */
}
.curve div {
  position: absolute;
  left: 50%;
  top: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: red;
  z-index: 0;
  height: 4px;
  width: 8px;
  border-radius: 6.5px 6.5px 0 0;
  transform: translateX(calc(-50% + 0px)) rotate(90deg);
}

@media screen and (max-width: 2350px) {
  .right-pane {
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .sidebar-links {
    margin-top: 0px;
  }
  .sidebar-links li {
    height: 70px;
  }
  .sidebar-links li a {
    padding: 0 20px;

    border-radius: 14px 0 0 14px;
  }
  .sidebar-links li a i {
    width: 38px;
  }
}

@media screen and (max-width: 2350px) {
  .blue-btn {
    font-size: 14px;

    height: 40px;
  }
  .blue-btn.size-lg {
    font-size: 22px;

    height: 55px;

    padding: 0 50px;

    border-radius: 10px;
  }
  .bullet-point > span {
    min-width: 30px;
    max-width: 30px;
    width: 30px;
  }
  .text-72 {
    font-size: 52px;
  }
  .text-40_2 {
    font-size: 32px;
  }
  .text-40 {
    font-size: 32px;
  }
  .text-30 {
    font-size: 24px;
  }
  .text-26 {
    font-size: 22px;
  }
  .text-20 {
    font-size: 17px;
  }
  .text-16 {
    font-size: 14px;
  }
}
@media screen and (max-width: 1750px) {
  nav .top-nav {
    height: 70px;
  }
  .sidebar-links li {
    height: 52px;
  }
  .sidebar-links li a {
    border-radius: 10px 0 0 10px;
    padding: 0 15px;
  }
  .sidebar-links li a i {
    width: 26px;
    margin-right: 14px;
  }
  nav .top-nav .logo {
    bottom: 50%;
    transform: translateY(50%);
    width: 260px;
  }
  nav .bottom-nav > div {
    height: 75px;
  }
  .bullet-point > span {
    min-width: 25px;
    max-width: 25px;
    width: 25px;
  }
  .blue-btn {
    font-size: 14px;

    height: 40px;
  }
  .blue-btn.size-lg {
    height: 50px;

    font-size: 20px;

    padding: 0 40px;
  }
  .text-72 {
    font-size: 40px;
  }
  .text-40_2 {
    font-size: 20px;
  }
  .text-40 {
    font-size: 26px;
  }
  .text-30 {
    font-size: 20px;
  }
  .text-26 {
    font-size: 17px;
  }
  .text-20 {
    font-size: 14px;
  }
  .text-16 {
    font-size: 12px;
  }
  .balance-card .top {
    padding: 30px;
    margin: -15px -15px 0 -15px;
    border-radius: 25px;
  }
  .balance-card {
    border-width: 15px;
    border-radius: 25px;
  }
  .bottom-footer > div {
    min-height: 80px;
  }
  .circle-wrap{
    
width: 200px;
    
height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  .form-input {
    padding: 0 15px;

    font-size: 17px;

    height: 40px;
  }
  textarea.form-input {
    height: 80px;
  }
  .sm-imgs {
    transform-origin: left bottom;

    transform: scale(0.7);
  }
}
@media screen and (max-width: 991px) {
  .blue-btn {
    font-size: 14px;
  }
  .blue-btn.size-lg {
    font-size: 17px;

    height: 40px;

    padding: 0 30px;

    border-radius: 8px;
  }
  .text-72 {
    font-size: 36px;
  }

  .text-40_2 {
    font-size: 24px;
  }
  .text-40 {
    font-size: 24px;
  }
  .text-30 {
    font-size: 16px;
  }
  .text-26 {
    font-size: 16px;
  }
  .text-20 {
    font-size: 13px;
  }
  .text-16 {
    font-size: 11px;
  }

  .right-pane {
    padding: 20px !important;
  }
  .sidebar-links {
  }
  .sidebar-links li {
    height: 55px;
  }
  .sidebar-links li a {
  }
  .sidebar-links li a i {
    width: 25px;
  }
  .balance-card {
    border-width: 10px;
  }
  .balance-card .top {
    margin: -10px -10px 0 -10px;
  }
  .corner-check {
    width: 45px;
    height: 45px;
  }
  .blue-round-check {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
  }
  .blue-round-check i {
    font-size: 16px;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}
@media screen and (min-width: 2000px) {
  .container {
    max-width: 1900px;
  }
}
